@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

:root {
  --primary: #1D72C2;
  --light: #FFF;
  --dark: #000;
  --cancel: #DE0028;
  --accept: #429C41;
}

* {
  box-sizing: border-box;
  font-family: "open sans", sans-serif ;
}
/* Navegation Bar */
.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li{
  padding: .5rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary);
  align-items: center;
  color: var(--light);
}

nav h1 {
  margin: 0;
  font-size: calc(1vw + .8rem);
}

/* Tables */
  table, thead{
    margin: auto;
    box-shadow: 0 0 .1rem var(--dark);
  }
  th, td{
    padding: 1rem;
  }
  .pref{
    color: var(--primary);
    background-color: #fffD;
  }
/* Search Bar */

/* Forms */
.form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: .2rem solid var(--primary);
  border-radius: .5rem;
  padding: .5rem;
}

.form h2{
  width: 100%
}

.form div{
  width: auto;
}

.form label{
  font-size: .8rem;
}

.form label::after{
  content: "*";
  color: var(--cancel);
}

.form input{
  border-radius: .25rem;
  padding: .25rem .5rem;
  border: .1rem solid #E8E8E8;
}

.form input:invalid{
  border-color: var(--cancel);
}


